/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Roboto, sans-serif;
  color:#fffcf8;
	background-color: #1e1e1e;
}
  .roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}
/* Changing the background colour for the header */

h1, h2, h3, h4, h5, h6 {
	font-family: "MedievalSharp", sans-serif;
}

.medievalsharp-regular {
	font-family: "MedievalSharp", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

header {
	background-color: #2E0038;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #D9D9D9;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #D9D9D9;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.rightbox{
  color: #000;
  background-color:#AE0909;
  width: 50%;
}

.passion {
	color: white;
	background-color: #AE0909
}
.loyalty {
	color: white;
	background-color: #49662C
}
.safety {
	color: white;
	background-color: #FF8000
}
.present {
	color: white;
	background-color: #2E0038
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 25px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
img {
  border-radius: 3%;
}
.image-container-one {
  background-image: url("../images/container-one.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
}
.image-container-two {
  background-image: url("../images/container-two.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
}
.image-container-three {
  background-image: url("../images/card-eight-thumbnail.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
}
.image-container-four {
  background-image: url("../images/container-four.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
}
.text {
	background-color: black;
  color: white;
  mix-blend-mode: multiply;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
}
.text-smaller {
	background-color: black;
  color: white;
  mix-blend-mode: multiply;
  font-size: 6vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 60%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
}
.example-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.example-row:after {
  content: "";
  display: table;
  clear: both;
}
.checked {
  color: orange;
}
.star-container {
  display: inline-block;
}

.star-container .fa-star {
  margin-right: 30px; /* Adjust the value as needed */
}
.headerreview {
  padding: 25px;
  text-align: center;
  background: #ae0909;
  color: white;
  font-size: 20px;
}
.one-background {
  background-image: url("../images/card-one.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}
.two-background {
  background-image: url("../images/card-two.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
	}
.three-background {
  background-image: url("../images/card-three.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}
.four-background {
  background-image: url("../images/card-four.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}
.five-background {
  background-image: url("../images/card-five.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}
.six-background {
  background-image: url("../images/card-six.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}

.seven-background {
  background-image: url("../images/card-seven.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}
.eight-background {
  background-image: url("../images/card-eight.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
}
	.choose-background {
  background-image: url("../images/upload-image.png"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  color: #1e1e1e;
}
/* Chat containers */
.tcontainer {
  border: 2px solid #dedede;
  background-color: #2e0038;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.tdarker {
  border-color: #ccc;
  background-color: #49662c;
}

/* Clear floats */
.tcontainer::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.tcontainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.tcontainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.ttime-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.ttime-left {
  float: left;
  color: #999;
}
/* Chat containers BIG CHAT BOX SO ITS A COPY*/
.bcontainer {
  border: 2px solid #dedede;
  background-color: #1e1e1e;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.bdarker {
  border-color: #ccc;
  background-color: #1e1e1e;
}

/* Clear floats */
.bcontainer::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.bcontainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.bcontainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.btime-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.btime-left {
  float: left;
  color: #999;
}
.card-text{
	color: black;
}
.card-title{
	color: black;
}
.card-body{
	color: black;
}
.new4 {
      border-top: 5px solid #ae0909;
}
