/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Roboto, sans-serif;
  color:#fffcf8;
	background-color: #1e1e1e;
}

  .roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

/* Changing the background colour for the header */

h1, h2, h3, h4, h5, h6 {
	font-family: "MedievalSharp", sans-serif;
}

.medievalsharp-regular {
	font-family: "MedievalSharp", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

header {
	background-color: #2E0038;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #D9D9D9;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #D9D9D9;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.rightbox{
  color: #000;
  background-color:#AE0909;
  width: 50%;
}

.passion {
	color: white;
	background-color: #AE0909
}
.loyalty {
	color: white;
	background-color: #49662C
}
.safety {
	color: white;
	background-color: #FF8000
}
.present {
	color: white;
	background-color: #2E0038
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 25px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
img {
  border-radius: 3%;
}
.image-container {
  background-image: url("img_nature.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
}

.text {
  background-color: white;
  color: black;
  font-size: 6vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 35%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}
.checked {
  color: orange;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  width: 350px;
  height: 300px;
  background-color:#2E0038;
  color: white;
  transform: rotateY(180deg);
  text-align: inherit;
 	font-size: 9pt;
}
.headerreview {
  padding: 25px;
  text-align: center;
  background: #ae0909;
  color: white;
  font-size: 20px;
}
